body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #8f90a0;
    font-size: 14px;
}
.wrapper {
    max-width: 1160px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
header {
    height: 70px;
}
.logo {
    display: flex;
    align-items: center;
    height: 40px;
    width: 106px;
    background-image: url(img/Logo.svg);
}
.header-button {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 9px 20px 10px 19px;
    font-weight: 700;
    margin: 18px;
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    font-size: 12px;
}
.button-login {
    border: 2px solid #BC9CFF;
    color: #BC9CFF;
    background-color: transparent;
}
.button-signin {
    color: white;
    background: linear-gradient(#BC9CFF, #8BA4F9);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
}
nav {
    list-style-type: none;
    padding-left: 0;
}
nav li {
    margin-left: 10px;
    margin-left: 10px;
    list-style-type: none;
}
.nav > li > a {
    color: #8f90a0;
    text-decoration: none;
}